.vs/
MonsterTradingCards/bin
MonsterTradingCards/obj
MonsterTradingCardsServer/bin
MonsterTradingCardsServer/obj
MonsterTradingCardsServer.Core/bin
MonsterTradingCardsServer.Core/obj
MonsterTradingCards.Server.Test/bin
MonsterTradingCards.Server.Test/obj